# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
# .env
# /.env - this ignore need to be disabled
/prisma/migrations

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

/.env 
.env
# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
#.env*.local
#.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
node_modules/
yarn-error.log/
vendor/
tmp/
dist/
.idea
tmp-resolvers
flow-typed
javascript/**/migrations/
typescript/**/migrations/
misc/**/migrations/
databases/**/migrations/
experimental/**/*.db
.next
.vscode/
.nuxt
dev.db